# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# packaging / editable installs
build/
dist/
*.egg-info/

# environments
venv/
.venv/
.env

# ledgers written by the tool's own default output path
outputs/

.DS_Store
